/*ITIS 3135 Activity 3 css file*/

/*styling for the whole page goes here*/
body {
	font-size: 16px;
    background-color: #cce5e6;
	color: #680000;
}

/*styling for the page title*/
h1 {
	font-style: italic;
	font-size: 28px;
    text-align: center;
    background-color: #996600;
	color: #f8f8f8;
}

/*styling for the overall table*/
table {
    background-color: #F8F8F8;
	border: solid 2px #787878;
}

/*styling for the title of the table*/
th {
    font-weight: bold;
    text-align: left;
}

/*styling for the coffee types*/
.label {
    font-weight: bold;
}

/*styling for the tables*/
.altrow {
	background-color: #EBD494;
}

/*styling for the Google Map link*/
#locationlink {
	color: #380000;
	font-style:italic;
}

/*styling for the bottom copyright information*/
footer {
    font-style: italic;
	font-size: 12px;
	text-align: center;
}

.dropbtn {
  background-color: #04AB6D;
  color: white;
  padding: 14px;
  font-size: 12px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}






/* CSS HEX */
--middle-blue-green: #9ad2cbff;
--tea-green: #d7ebbaff;
--cream: #feffbeff;
--medium-champagne: #ebd494ff;
--eggplant: #472836ff;

/* CSS HSL */
--middle-blue-green: hsla(173, 38%, 71%, 1);
--tea-green: hsla(84, 55%, 83%, 1);
--cream: hsla(61, 100%, 87%, 1);
--medium-champagne: hsla(44, 69%, 75%, 1);
--eggplant: hsla(333, 28%, 22%, 1);

/* SCSS HEX */
$middle-blue-green: #9ad2cbff;
$tea-green: #d7ebbaff;
$cream: #feffbeff;
$medium-champagne: #ebd494ff;
$eggplant: #472836ff;

/* SCSS HSL */
$middle-blue-green: hsla(173, 38%, 71%, 1);
$tea-green: hsla(84, 55%, 83%, 1);
$cream: hsla(61, 100%, 87%, 1);
$medium-champagne: hsla(44, 69%, 75%, 1);
$eggplant: hsla(333, 28%, 22%, 1);

/* SCSS RGB */
$middle-blue-green: rgba(154, 210, 203, 1);
$tea-green: rgba(215, 235, 186, 1);
$cream: rgba(254, 255, 190, 1);
$medium-champagne: rgba(235, 212, 148, 1);
$eggplant: rgba(71, 40, 54, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
$gradient-right: linear-gradient(90deg, #9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
$gradient-bottom: linear-gradient(180deg, #9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
$gradient-left: linear-gradient(270deg, #9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
$gradient-top-right: linear-gradient(45deg, #9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
$gradient-bottom-right: linear-gradient(135deg, #9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
$gradient-top-left: linear-gradient(225deg, #9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
$gradient-bottom-left: linear-gradient(315deg, #9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
$gradient-radial: radial-gradient(#9ad2cbff, #d7ebbaff, #feffbeff, #ebd494ff, #472836ff);
