body
 {
    font-family:"Segoe";
}
        
#calc
{
	width:200px;
    background-color:#69a832;
    text-align:center;
    border:outset;
    padding:9px;
}

input
{
    font-family:"sans-serif";
    text-align:center;
 }
