/*ITIS 3135 Activity 3 css file*/

/*styling for the whole page goes here*/
body {
	font-size: 16px;
    background-color: #eeeeee;
	color: #680000;
}

/*styling for the page title*/
h1 {
	font-style: italic;
	font-size: 28px;
    text-align: center;
    background-color: #996600;
	color: #f8f8f8;
}

/*styling for the overall table*/
table {
    background-color: #F8F8F8;
	border: solid 2px #787878;
}

/*styling for the title of the table*/
th {
    font-weight: bold;
    text-align: left;
}

/*styling for the coffee types*/
.label {
    font-weight: bold;
}

/*styling for the tables*/
.altrow {
	background-color: #E0E0E0;
}

/*styling for the Google Map link*/
#locationlink {
	color: #380000;
	font-style:italic;
}

/*styling for the bottom copyright information*/
footer {
    font-style: italic;
	font-size: 12px;
	text-align: center;
}

.dropbtn {
  background-color: #04AB6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
